<footer>
  <div class="container"><a href="http://www.opencart.com" target="_blank">{{ text_project }}</a>|<a href="http://www.opencart.com/index.php?route=documentation/introduction" target="_blank">{{ text_documentation }}</a>|<a href="http://opencartfarsi.com" target="_blank">{{ text_support }}</a>|<a href="http://www.opencartfarsi.ir" target="_blank">{{ text_website }}</a>|<a href="http://www.open-cart.ir" target="_blank">{{ text_shop }}</a><br />
    </div>
</footer>
</body></html>